@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* 전체 범위에 배경 지정 시 */
  /* justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100vh;
  background: url('./assets/login_background.jpg');
  background-size: cover;
  background-position: center; */
}