.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.toolbar {
  margin-bottom: 10px;
}

.toolbar button {
  margin-right: 10px;
}

.canvas {
  width: 1600px;
  height: 600px;
  border: 1px solid #ccc;
  position: relative;
}

.shape {
  position: absolute;
  background-color: #3498db;
  cursor: pointer;
  /* transform: translate(-50%, -50%); */
}

.table {
  border: 1px solid black; /* 테두리 색을 검정색으로 설정 */
}
