.navbar {
  display: flex;
  justify-content: center;  /* 가운데 정렬을 위한 스타일 */
  align-items: center;  /* 세로 중앙 정렬을 위한 스타일 */
  height: 50px;  /* 예시로 설정한 높이, 필요에 따라 조정하세요 */
  background-color: #2a48f3;
  color: white;
}