.header {
  position: relative;
}

.header .menu {
  position: absolute;
  top: 10px;
  right: 0;
}

.header .link {
  border: 1px solid skyblue;
  padding: 10px;
  margin-left: 10px;
  background-color: dodgerblue;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}